

<div class="panel">
        <div class="panel-heading"><b>{{title}}</b></div>
        <div class="panel-body">
        <div class="table-responsive">
         
        <table class="table table-bordered">
            <thead>
               
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pr of products">
                    <td>{{pr.id}}</td>
                    <td>{{pr.name}}</td>
                    <td>{{pr.price}}</td>
                    <td>{{pr.quantity}}</td>
                    
                </tr>
            </tbody>
        </table>
        </div>
        <button type="button" (click)="addList()">GET THE DATA</button>
        <button id="prev-btn" (click)="prevList()">&lt;&lt;</button>
        <button id="next-btn" (click)="nextList()">&gt;&gt;</button>
        </div>
        </div>